<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\checkout.css">
    <title>JPJC Candy Lab</title>
</head>

<body>
    <div class="checkout">
        <div class="checkout_header">
            <a class="logo" href="/"><img src="static\img\JPJC_CandyLab_Logo.JPG" alt="LOGO"></a>
            <p class="checkout_title">Confirm checkout</p>
        </div>


        <dl class="checkout_list">
            <div class="checkout_row checkout_row_bold">
                <dt class="checkout_item">Product</dt>
                <dd class="checkout_cost">Unit Price</dd>
            </div>
            {% for inv in invs %}
                <div class="checkout_row">
                    <dt class="checkout_item">{{inv[2]}} * {{inv[0]}}</dt>
                    <dd class="checkout_cost">${{ "%.2f"|format(inv[1]) }}</dd>
                </div>
            {% endfor %}

            
            
            {% if mem_id %}
            <div class="checkout_row checkout_row_total">
                <dt class="checkout_item">Subtotal</dt>
                <dd class="checkout_cost">${{ "%.2f"|format(total/9*10) }}</dd>
            </div>
            <div class="checkout_row ">
                <dt colspan="2">10% Member Discount</dt>
                <dd>${{ "%.2f"|format(total/9) }}</dd>
            </div>
            {% else %}
            <div class="checkout_row checkout_row_total">
                <dt colspan="2">Total</dt>
                <dd>${{ "%.2f"|format(total) }}</dd>
            </div>

            <p class="message">You are not sign in! <a href="/login">Login here</a> to enjoy 10% off</p>
            
            {% endif %}
        </dl>
        
        <form action="/receipt" method="post">
            <input type="hidden" name="qty" value="{{ qty }}">
            <button type="submit">Confirm Order</button>
        </form>
    

    </div>
</body>
</html>