<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>JPJC Candy Lab</title>
</head>
<header>
    <a href="/"><img src="static\img\JPJC_CandyLab_Logo.JPG" alt="LOGO"></a>
    {% if mem_id %}
        {{ mem_id }} <a href="/logout">logout</a>
    {% else %}
        <a href="/login">login</a> <a href="/register">register</a>
    {% endif %}
</header>

<body>
    <h1>Order Page</h1>
    
    <form action="/checkout" method="post">
        <div class="grid-container">
            {% for inv in invs %}
                <div class="grid-item">
                    <img src="static\img\{{ inv[5] }}" alt="Product Image">
                    <h3>{{ inv[1] }}</h3>
                    <p>{{ inv[2] }}</p>
                    <p>Price: ${{ "%.2f"|format(inv[3]) }}</p>
                    <input type="number" name="quantity" min="0" max="{{ inv[4] }}" value="0">
                </div>
            {% endfor %}
        </div>
        <button type="submit">Place Order</button>
    </form>
    
</body>
</html>