<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>JPJC Candy Lab</title>
</head>
<header>
    <a class="logo" href="/"><img src="static\img\JPJC_CandyLab_Logo.JPG" alt="LOGO"></a>
    <ul class="member">
        {% if mem_id %}
            <li><b>{{ mem_id }}</b></li>
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
</header>
<body>
    <form action="/checkout" method="post">

        <div class="card-grid">
            {% for inv in invs %}
                <div class="card-style">
                    <img class="image-style" src="static\img\{{ inv[5] }}" alt="Product Image">
                    <div class="card-content">
                        <h3>{{ inv[1] }}</h3>
                        <p>{{ inv[2] }}</p>
                        <p>Price: ${{ "%.2f"|format(inv[3]) }}</p>
                        <input type="number" name="quantity" min="0" max="{{ inv[4] }}" value="0">
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit">Place Order</button>

    </form>
</body>
</html>