<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    <title>JPJC Candy Lab</title>
</head>
<body>
    <div class="login">
        <div class="login_header">
            <a href="/"><img src="static\img\JPJC_CandyLab_Logo.JPG" alt="LOGO"></a>
            <p class="login_title">Login</p>
        </div>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/login" method="post">
            <div class="inputBx">
                <input type="email" placeholder="Email" id="email" name="email" required>
            </div>
            <div class="inputBx">
                <input type="password" placeholder="Password" id="password" name="password" required>
            </div>
            <div class="inputBx">
                <button type="submit">Login</button>
            </div>
            <p class="message">Not registered?<a href="/register">Create an account</a></p>


        </form>
    </div>
</body>
</html>