<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/receipt.css">
    <title>JPJC Candy Lab</title>
</head>
<body>
    <div class="receipt">
        <div class="receipt_header">
            <a class="logo" href="/"><img src="static\img\JPJC_CandyLab_Logo.JPG" alt="LOGO"></a>
            <p class="receipt_title">JP Candy Lab</p>
            <p class="receipt_detail">thank you for shopping with us!</p>
            <p class="receipt_detail">{{date}}</p>
        </div>

        <dl class="receipt_list">
            <div class="receipt_row receipt_row_bold">
                <dt class="receipt_item">Product</dt>
                <dd class="receipt_cost">Unit Price</dd>
            </div>
            {% for inv in invs %}
                <div class="receipt_row">
                    <dt class="receipt_item">{{inv[4]}} * {{inv[1]}}</dt>
                    <dd class="receipt_cost">${{ "%.2f"|format(inv[2]) }}</dd>
                </div>
            {% endfor %}

            {% if mem_id %}
                <div class="receipt_row receipt_row_total">
                    <dt class="receipt_item">Subtotal</dt>
                    <dd class="receipt_cost">${{ "%.2f"|format(total/9*10) }}</dd>
                </div>
                <div class="receipt_row ">
                    <dt colspan="2">10% Member Discount</dt>
                    <dd>${{ "%.2f"|format(total/9) }}</dd>
                </div>
            {% endif %}
            <div class="receipt_row receipt_row_total">
                <dt colspan="2">Total</dt>
                <dd>${{ "%.2f"|format(total) }}</dd>
            </div>
        </dl>
    </div>
    
</body>
</html>